body
{
    margin:0px;
    background-color: #FFFCE4;
    font-family:"Calibri", sans-serif;

}

/* Top Menu Section */
#top-menu {
    padding: 1rem 0;
    text-align: center;
}

#main-nav {
    display: inline-block;
}

#nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#nav-links li a {
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
}

#nav-links li a:hover {
    color: #28a745;
}
#logo-image {
    max-width: 250px;
    margin-left:30px;
    height: auto;
}
#sub-page-logo
{
    display: block;
    margin: 0 auto; /* Horizontally center */
    text-align: center;
    width:190px;
}
#validation-message
{
 text-align: center;;
}
/* Footer Section */
#footer-section {
    color: white;
    text-align: center;
    padding: 1rem 0;
    background-color:rgba(0, 0, 0, 0.5);
}

#footer-text {
    font-size: 1rem;
}
